
<!DOCTYPE html>
<html>
<head>
    <title>Available Food</title>

    <style>
        .gradient-background {
            background: linear-gradient(to bottom, #f6ad55, #f08e31);
        
            }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="min-h-screen  gradient-background">
    <div class="mb-4 text-center">
        <img src="./static/img/logo.png" alt="Logo" class="w-22 mx-auto">
    </div>
    <div class="max-w-3xl mx-auto p-4">
        <h1 class="text-2xl font-semibold text-white mb-4">Available Food</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for food in food_data %}
            <div class="bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-semibold mb-2">{{ food[1] }}</h2>
                <p>Food: {{ food[2] }}</p>
                <p>Quantity: {{ food[3] }}</p>
                <p>Email: {{ food[4] }}</p>
                <p>Phone: {{ food[5] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
